/* --------------------------------Typography-------------------------------- */
@font-face {
	font-family: 'Gotham Medium';
	font-style: normal;
	font-weight: normal;
	src: local('Gotham Medium'), url('../res/GothamPro-Medium.woff') format('woff');
}
@font-face {
	font-family: 'Gotham Bold';
	font-style: normal;
	font-weight: normal;
	src: local('Gotham Bold'), url('../res/GothamPro-Bold.woff') format('woff');
}
:root {
	--font-primary: "Gotham Medium";
	--font-secondary: "adobe-caslon-pro";
	--color-primary: #FFBD00;
	--color-headings: #241c15;
	--color-text: #333333;
	--color-muted-text: #555555;
	/* set base values */
	--text-base-size: 1em;
	--text-scale-ratio: 1.2;
	/* type scale */
	--text-xs: calc(1em / (var(--text-scale-ratio) * var(--text-scale-ratio)));
	--text-sm: calc(1em / var(--text-scale-ratio));
	--text-md: calc(1em * var(--text-scale-ratio));
	--text-lg: calc(1em * var(--text-scale-ratio) * var(--text-scale-ratio));
	--text-xl: calc(1em * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio));
	--text-xxl: calc(1em * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio));
	--text-xxxl: calc(1em * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio));
	/* line-height */
	--heading-line-height: 1.2em;
	--body-line-height: 1.75em;
	--space-md: .75em;
}
body {
	font-size: var(--text-md);
	font-family: var(--font-secondary);
	color: var(--color-text);
	overflow-x: hidden;
	background: #FBFBFB;
}
h1, h2, h3, h4, form legend {
	font-family: var(--font-primary);
	color: var(--color-headings);
	margin-bottom: var(--space-md);
	line-height: var(--heading-line-height);
	text-transform: uppercase;
}
.section-heading {
	border-left: 3px solid var(--color-primary);
	padding-left: 20px;
}
h5 {
	margin-bottom: var(--space-md);
	font-family: var(--font-primary);
	font-size: var(--text-base-size);
	color: var(--color-headings);
}
/* text size */
.text--xxxl {
	font-size: var(--text-xxxl);
}
h1, .text--xxl {
	font-size: var(--text-xxxl);
}
h2, .text--xl {
	font-size: var(--text-xl);
}
h3, .text--lg {
	font-size: var(--text-lg);
}
h4, .text--md {
	font-size: var(--text-md);
}
.text--sm, small {
	font-size: var(--text-sm);
}
/* --------------------------------Main-------------------------------- */
.text--xs {
	font-size: var(--text-xs);
}
p {
	line-height: var(--body-line-height);
	font-size: var(--text-base-size);
}
a {
	color: var(--color-link);
}
b, strong {
	font-weight: bold;
}
video {
	max-width: 100%;
	height: auto;
	vertical-align: middle;
}
.abouttext {
	margin-top: var(--heading-line-height);
}
@media (min-width: 768px) {
	.abouttext {
		margin-top: 0px;
	}	
}
.speciala {
	color: #FBFBFB;
}
.fa-3x {
	color: white;
}
.br{
  line-height: var(--body-line-height);
}
a {
	color: var(--color-primary);
}
a.active, a:active, a:focus, a:hover {
	color: var(--color-primary);
}
hr.divider {
	border-bottom: 2px solid rgba(0,0,0,.1);
	margin-left: 20px;
	margin-right: 20px;
}
@media (max-width: 60rem) {
	hr.divider {
		border-bottom: 2px solid rgba(0,0,0,.1);
	}
}
section {
	padding: 100px 0;
}
@media (min-width: 768px) {
	section {
		padding: 100px 0;
	}
}
::-moz-selection {
	background: var(--color-primary);
	text-shadow: none;
}
::selection {
	background: var(--color-primary);
	text-shadow: none;
}
img::selection {
	background: transparent;
}
img::-moz-selection {
	background: transparent;
}
#arrow_down {
	padding-top: 0px;
}
#mainNav {
	background-color: #FBFBFB;
  	border-bottom: 1px solid #Dedede;
}
#mainNav .navbar-nav {
	padding-left: 20px;
}
#mainNav .navbar-toggler {
	font-size: var(--text-sm);
	right: 0;
	padding: 13px;
	text-transform: uppercase;
	color: white;
	border: 0;
	background-color: var(--color-primary);
	font-family: var(--font-primary);
	text-transform: uppercase;
}
#mainNav.navbar-shrink .navbar-brand {
	color: var(--color-headings);
	font-family: var(--font-primary);
	font-size: var(--text-md);
}
#mainNav .navbar-brand {
	color: var(--color-text);
	font-family: var(--font-primary);
	font-size: var(--text-md);
}
#mainNav .navbar-brand.active, #mainNav .navbar-brand:active, #mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
	color: var(--color-headings);
}
#mainNav .navbar-nav .nav-item .nav-link {
	font-size: var(--text-xs);
	font-family: var(--font-primary);
	font-weight: 700;
	padding: 0.75em 0;
	color: var(--color-headings);
	text-transform: uppercase;
}
#mainNav .navbar-nav .nav-item .nav-link.active, #mainNav .navbar-nav .nav-item .nav-link:hover {
	color: var(--color-primary);
}
@media (min-width: 992px) {
	#mainNav {
		-webkit-transition: padding-top 0.3s, padding-bottom 0.3s;
		-moz-transition: padding-top 0.3s, padding-bottom 0.3s;
		transition: padding-top 0.3s, padding-bottom 0.3s;
		background-color: #FBFBFB;
		border-bottom: 1px solid #Dedede;
  }
	#mainNav .navbar-brand {
		font-family: var(--font-primary);
		-webkit-transition: all 0.3s;
		-moz-transition: all 0.3s;
		transition: all 0.3s;
		color: var(--color-headings);
	}
	#mainNav .navbar-nav .nav-item .nav-link {
		padding: 1.1em 1em !important;
		color: var(--color-headings);
		text-transform: uppercase;
	}
	#mainNav.navbar-shrink {
		font-family: var(--font-primary);
		padding-top: 10px;
		padding-bottom: 10px;
		background-color: #FBFBFB;
		border-bottom: 1px solid #Dedede;
	}
	#mainNav.navbar-shrink .navbar-brand {
		font-family: var(--font-md);
		padding: 10px 0;
	}
}
header.masthead {
	background-color: #16DEA7;
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 100px;
	text-align: center;
	color: #FBFBFB;
}
header.masthead .intro-text {
	padding-top: 30px;
	padding-bottom: 0px;
}
header.masthead .intro-img {
	padding: 80px;
	margin-top: -30px;
}
header.masthead .intro-text .intro-lead-in {
	font-size: var(--text-xl);
	line-height: var(--heading-line-height);
	margin-bottom: 30px;
	font-family: var(--font-primary);
	font-weight: 700;
}
header.masthead .intro-text .intro-heading {
	font-size: var(--text-lg);
	font-weight: 400;
	line-height: var(--heading-line-height);
	margin-bottom: 30px;
	font-family: var(--font-primary);
}
@media (min-width: 768px) {
	header.masthead {
		text-align: left;
	}
	header.masthead .intro-text {
		padding-top: 35%;
		padding-bottom: 39%;
	}
	header.masthead .intro-img {
		padding: 60px;
		position: relative;
		top: 50%;
		left: 55%;
		margin-top: -50%;
		margin-left: -50%;
	}
	header.masthead .intro-text .intro-lead-in {
		font-size: 3.1em;
		line-height: var(--heading-line-height);
		margin-bottom: 25px;
		font-family: var(--font-primary);
	}
	header.masthead .intro-text .intro-heading {
		font-size: var(--text-md);
		font-weight: 400;
		line-height: var(--heading-line-height);
		margin-bottom: 25px;
		font-family: var(--font-primary);
	}
}
.service-heading {
	margin: 0 0 5px;
}
#portfolio .portfolio-item {
	right: 0;
	margin: 0 0 15px;
}
#portfolio .portfolio-item .portfolio-link {
	position: relative;
	display: block;
	max-width: 400px;
	margin: 0 auto;
	cursor: pointer;
}
#portfolio .portfolio-item .portfolio-link {
	position: relative;
	display: block;
	max-width: 400px;
	margin: 0 auto;
	cursor: pointer;
}
#portfolio .portfolio-item .portfolio-link .portfolio-image {
	border-top-left-radius: 7px;
	border-top-right-radius: 7px;
}
#portfolio .portfolio-item .portfolio-link .portfolio-hover {
	position: absolute;
	width: 100%;
	height: 100%;
	-webkit-transition: all ease 0.5s;
	-moz-transition: all ease 0.5s;
	transition: all ease 0.5s;
	opacity: 0;
	background: rgba(255, 189, 0, 0.9);
	border-top-left-radius: 7px;
	border-top-right-radius: 7px;
}
#portfolio .portfolio-item .portfolio-link .portfolio-hover:hover {
	opacity: 1;
}
#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content {
	font-size: var(--text-md);
	position: absolute;
	top: 50%;
	width: 100%;
	height: 20px;
	margin-top: -12px;
	text-align: center;
}
#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content i {
	margin-top: -12px;
}
#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h3, #portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h4 {
	margin: 0;
}
#portfolio .portfolio-item .portfolio-caption {
  color: var(--color-muted-text);
	max-width: 400px;
	margin: 0 auto;
	padding: 25px;
	text-align: left;
	background-color: white;
	border-bottom-left-radius: 7px;
	border-bottom-right-radius: 7px;
	box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.12), 0 2px 2px 0 rgba(0, 0, 0, 0.24);
}
#portfolio .portfolio-item .portfolio-caption h4 {
	margin: 0;
	text-transform: none;
}
#portfolio .portfolio-item .portfolio-caption p {
  font-size: var(--text-xs);
  color: var(--color-muted-text);
	margin: 0;
	font-family: var(--font-primary);
}
#portfolio * {
	z-index: 2;
}
@media (min-width: 767px) {
	#portfolio .portfolio-item {
		margin: 0 0 30px;
	}
}
.modal {
	overflow-y:auto;
}
.portfolio-modal .modal-dialog {
	max-width: none;
	height: 100%;
	margin: 0;
}
.portfolio-modal .modalbutton {
	text-align: center;
	float: right;
	padding-left: 20px;
}
.portfolio-modal .modal-content {
	background: #FBFBFB;
	min-height: 100%;
	padding: 100px 0;
	text-align: left;
	border: none;
	border-radius: 0;
	background-clip: border-box;
	-webkit-box-shadow: none;
	box-shadow: none;
}
.portfolio-modal .modal-content ul.list-inline {
	margin-top: 0;
	margin-bottom: 30px;
}
.portfolio-modal .modal-content img {
	margin-bottom: 30px;
}
.portfolio-modal .modal-content button {
	cursor: pointer;
}
.portfolio-modal .close-modal {
	position: absolute;
	top: 25px;
	right: 25px;
	width: 75px;
	height: 75px;
	cursor: pointer;
	background-color: transparent;
}
.portfolio-modal .close-modal:hover {
	opacity: 0.3;
}
.portfolio-modal .close-modal .lr {
	/* Safari and Chrome */
	z-index: 1051;
	width: 1px;
	height: 75px;
	margin-left: 35px;
	/* IE 9 */
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
	background-color: var(--color-headings);
}
.portfolio-modal .close-modal .lr .rl {
	/* Safari and Chrome */
	z-index: 1052;
	width: 1px;
	height: 75px;
	/* IE 9 */
	-webkit-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	transform: rotate(90deg);
	background-color: var(--color-headings);
}
.portfolio-modal .modal-backdrop {
	display: none;
	opacity: 0;
}
.secondrow {
	margin-left: 0.0%;
}
footer {
	padding: 25px 0;
	text-align: center;
}
ul.social-buttons {
	margin-bottom: 0px;
}
ul.social-buttons li a {
	font-size: var(--text-md);
	line-height: var(--body-line-height);
	display: block;
	width: 40px;
	height: 40px;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
	color: white;
	border-radius: 100%;
	outline: none;
	background-color: var(--color-text);
	font-family: var(--font-primary);
}
ul.social-buttons li a:active, ul.social-buttons li a:focus, ul.social-buttons li a:hover {
	background-color: var(--color-primary);
}
.text-primary {
	color: var(--color-primary);
}
.btn-primary {
	color: white;
	border-radius: 300px;
	border-color: var(--color-primary);
	background-color: var(--color-primary);
}
.btn-primary.focus, .btn-primary:focus {
	color: white;
	border-radius: 300px;
	border-color: rgba(255, 189, 0, 0.5);
	background-color: rgba(255, 189, 0, 0.5);
}
.btn-primary:hover {
	color: white;
	border-radius: 300px;
	border-color: rgba(255, 189, 0, 0.5);
	background-color: rgba(255, 189, 0, 0.5);
}
.btn-primary.active, .btn-primary:active, .open > .btn-primary.dropdown-toggle {
	border-radius: 300px;
	color: white;
	border-color: var(--color-primary);
	background-color: var(--color-primary);
}
.btn-primary.active.focus, .btn-primary.active:focus, .btn-primary.active:hover, .btn-primary:active.focus, .btn-primary:active:focus, .btn-primary:active:hover, .open > .btn-primary.dropdown-toggle.focus, .open > .btn-primary.dropdown-toggle:focus, .open > .btn-primary.dropdown-toggle:hover {
	border-radius: 300px;
	color: white;
	border-color: rgba(255, 189, 0, 0.5);
	background-color: rgba(255, 189, 0, 0.5);
}
.btn-primary.active, .btn-primary:active, .open > .btn-primary.dropdown-toggle {
	background-image: none;
}
.btn-primary.disabled.focus, .btn-primary.disabled:focus, .btn-primary.disabled:hover, .btn-primary[disabled].focus, .btn-primary[disabled]:focus, .btn-primary[disabled]:hover, fieldset[disabled] .btn-primary.focus, fieldset[disabled] .btn-primary:focus, fieldset[disabled] .btn-primary:hover {
	border-radius: 300px;
	border-color: rgba(255, 189, 0, 0.5);
	background-color: rgba(255, 189, 0, 0.5);
}
.btn-primary .badge {
	color: var(--color-primary);
	background-color: white;
}
.btn {
	font-size: var(--text-sm);
	color: white;
	border-color: var(--color-primary);
	background-color: var(--color-primary);
	font-weight: 700;
	text-transform: uppercase;
	border: none;
	border-radius: 300px;
	font-family: var(--font-primary);
}
.btn-xl {
	padding: 15px 30px;
}
